{%- liquid
    render 'inc-stylesheet', src: 's-sections.css'

	if section.settings.homeCollection != blank 
		assign collection = collections[section.settings.homeCollection].products
		assign collectionUrl = collections[section.settings.homeCollection].url
		assign totalProducts = collections[section.settings.homeCollection].all_products_count | plus: 0
		assign collectionTitle = collections[section.settings.homeCollection].title
	 else 
		assign collection = collections.all.products | sort: 'published_at' | reverse
		assign collectionUrl = routes.all_products_collection_url
		assign totalProducts = collections.all.all_products_count | plus: 0
		assign collectionTitle = 'collection.featuredCollection' | t
	endif
	assign productLimit = section.settings.howmany | plus: 0


    assign scrollerState = section.settings.horizontalScroller
    case scrollerState
    when "desk"

		assign horizontalScroll = nil
        assign hscrollSlide = nil
		if totalProducts > 3 and productLimit > 3
			assign horizontalScroll = 'card scroll-snap'
            assign hscrollSlide = true
		endif

    when "mob"
        assign horizontalScroll = 'card scroll-snap-m'
        assign hscrollSlide = true

    when "both"

        assign horizontalScroll = 'card scroll-snap-m'
		if totalProducts > 3 and productLimit > 3
			assign horizontalScroll = 'card scroll-snap scroll-snap-m'
            assign hscrollSlide = true
		endif

    else 
        assign horizontalScroll = nil
        assign hscrollSlide = nil
    endcase
-%}

<section class="products product featured-collection" {% unless section.settings.global_color_scheme %}color-scheme="{{ section.settings.color_scheme }}"{% endunless %}>
{%- comment -%} hscroll-slider {%- endcomment -%}
{%- if hscrollSlide != nil -%}<component-loader><hscroll-slider>{%- endif -%}
{%- if section.settings.show_heading -%}
<div class="gs-title" x-flex ai="center" jc="between">
    <x-cell><h2>{{ collectionTitle }}</h2></x-cell>
    {%- if hscrollSlide != nil -%}<x-flex ai="center" jc="between" style="gap:var(--margin)">
        <button class="is-blank" style="padding:0" hscroll-button-prev aria-label="{{ 'pagination.previous' | t }}">
            {%- render 'global-icon' with 'arrow-left' -%}
        </button>
        <button class="is-blank" style="padding:0" hscroll-button-next aria-label="{{ 'pagination.next' | t }}">
            {%- render 'global-icon' with 'arrow-right' -%}
        </button>
    </x-flex>{%- endif -%}
</div>
{%- endif -%}

<x-grid 
    columns="{{ settings.cardGridCol }}"
    columns-m="{{ settings.cardGridCol-m }}"
    columns-s="{{ settings.cardGridCol-s }}"

    {% if hscrollSlide != nil %}hscroll-area{% endif %}
    class="product-grid {{ horizontalScroll }}"

    grid-gap="{{ settings.cardGridGap }}"
    card-layout="{{ settings.card_layout }}"
    {% if settings.card_badges and settings.card_layout == 'underneath' and settings.card_badges_overlay_top %}card-badge="overlay"{% endif %}
    {% if settings.card_layout == 'underneath' and settings.card_toggle_meta %}toggle-meta="true"{% endif %}
    clip-meta="{{ settings.card_clip_meta }}"
    card-media-radius="{{ settings.card_media_radius }}"
    card-media-padding="{{ settings.card_media_padding }}"
    card-font-size="{{ settings.card_font_size }}"
    card-quickbuy-unfloat="{{ settings.card_quick_buy_float }}"
>
{%- liquid
    for product in collection limit: productLimit
        render 'c-prod-card', product: product, hscrollElement: 'hscroll-slide'
    else
        # If no products in store show placeholders
        for i in (1..3)
            render 'c-prod-card', product: null
        endfor
    endfor
-%}
</x-grid>
{%- comment -%} hscroll-slider buttons {%- endcomment -%}
{%- if hscrollSlide != nil -%}</hscroll-slider></component-loader>{%- endif -%}
{%- comment -%} / hscroll-slider {%- endcomment -%}

{%- if totalProducts > 3 -%}
<div class="loadmore"><a href="{{ collectionUrl }}" class="no-style">{{ 'collection.ViewAllProducts' | t }}</a></div>
{%- endif -%}
</section>

{% schema %}
{
  "name": "Featured collection",
  "disabled_on": { "groups": ["header", "footer", "aside"] },
  "presets": [
    {
      "name": "Featured collection"
    }
  ],
  "settings": [
    {
      "type": "collection",
      "id": "homeCollection",
      "label": "Featured collection",
      "info": "By default the latest products are shown."
    },
    {
        "type": "checkbox",
        "id": "show_heading",
        "label": "Show heading",
        "default": true
    },
    {
      "type": "range",
      "id": "howmany",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3,
      "label": "Number of products to display"
    },
	{
		"type": "select",
		"id": "horizontalScroller",
		"label": "Enable horizontal scroll",
		"default": "none",
		"options": [
			{ "value": "none", "label": "None" },
			{ "value": "desk", "label": "Desktop" },
			{ "value": "mob", "label": "Mobile" },
			{ "value": "both", "label": "Desktop and mobile" }
		]
	},
    {
        "type": "header",
        "content": "Appearance"
    },
    {
        "type": "checkbox",
        "id": "global_color_scheme",
        "label": "Use global color scheme",
        "default": true
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "coretex-1",
        "visible_if": "{{ section.settings.global_color_scheme == false }}"
    }
  ]
}
{% endschema %}