{%- render 'inc-stylesheet', src: 's-sections.css' -%}

{%- capture style -%}
{{ section.settings.alignment | replace: 'left', 'start' | replace: 'right', 'end' | prepend: '--_align:' | append: ';' }}
{%- endcapture -%}

<section class="logo-list" 
    style="{{ style | strip_newlines | strip }}"
    {% unless section.settings.global_color_scheme %}color-scheme="{{ section.settings.color_scheme }}"{% endunless %}
>
    {%- if section.settings.heading != blank -%}
    <h2 class="gs-title">{{ section.settings.heading }}</h2>
    {%- endif -%}
    <x-flex jc="around" ai="center" wrap="wrap" style="gap:var(--padding)">
        {% for block in section.blocks %}
        <x-cell {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="no-style" {%- if block.settings.newTab == true -%}rel="nofollow noopener noreferrer" target="_blank"{%- endif -%}>{% endif %}
                {%- liquid
                    assign img = block.settings.image
                    assign widths = '200,300,400,500'
                    render 'inc-img' img: img, widths: widths, fallback: true
                -%}
            {% if block.settings.link != blank %}</a>{% endif %}
        </x-cell>
		{% endfor %}
    </x-flex>
</section>

{% schema %}
{
  "name": "Logo list",
  "disabled_on": { "groups": ["header", "footer", "aside"] },
  "max_blocks": 6,
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave blank to remove heading."
    },
    {
        "type": "text_alignment",
        "id": "alignment",
        "label": "Text alignment",
        "default": "left"
    },
    {
        "type": "header",
        "content": "Appearance"
    },
    {
        "type": "checkbox",
        "id": "global_color_scheme",
        "label": "Use global color scheme",
        "default": true
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "coretex-1",
        "visible_if": "{{ section.settings.global_color_scheme == false }}"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "visible_if": "{{ block.settings.image }}"
        },
        {
            "type": "checkbox",
            "id": "newTab",
            "label": "Open link in tab",
            "default": false,
            "visible_if": "{{ block.settings.image and block.settings.link }}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Visual",
      "blocks": [
        { "type": "logo_image" },
        { "type": "logo_image" },
        { "type": "logo_image" },
        { "type": "logo_image" },
        { "type": "logo_image" }
      ]
    }
  ]
}
{% endschema %}