{%- render 'inc-stylesheet', src: 's-sections.css' -%}

<section class="socialMediaGrid" {% unless section.settings.global_color_scheme %}color-scheme="{{ section.settings.color_scheme }}"{% endunless %}>
<component-loader><hscroll-slider>

{%- if section.settings.title != blank or section.settings.link_url != blank -%}
<div class="gs-title" x-flex ai="center" jc="between">
    <x-cell>
        {%- if section.settings.title != blank -%}
            <h2>{{ section.settings.title }}</h2>
        {%- endif -%}
    </x-cell>
    <x-flex ai="center" jc="between" style="gap:var(--margin)">
        {%- if section.settings.link_url != blank -%}
            <a href="{{ section.settings.link_url }}" class="no-style">{{ section.settings.link_label }}</a>
        {%- endif -%}
        <button class="is-blank" style="padding:0" hscroll-button-prev aria-label="{{ 'pagination.previous' | t }}">
            {%- render 'global-icon' with 'arrow-left' -%}
        </button>
        <button class="is-blank" style="padding:0" hscroll-button-next aria-label="{{ 'pagination.next' | t }}">
            {%- render 'global-icon' with 'arrow-right' -%}
        </button>
    </x-flex>
</div>
{%- endif -%}

<x-grid
    columns="5"
    hscroll-area
    class="socialMediaGrid-grid card scroll-snap-m"
>
{%- for block in section.blocks -%}
    <x-cell hscroll-slide {{ block.shopify_attributes }}>
        {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}" target="_blank" rel="noopener">{%- endif -%}
        {%- render 'inc-img', img: block.settings.image, sizes: '(max-width: 777px) 80vw, 20vw', widths: '300,480,600', fallback: true -%}
        {%- if block.settings.link != blank -%}</a>{%- endif -%}
    </x-cell>
{%- endfor -%}

{%- assign emptySlots = 5 | minus: section.blocks.size -%}
{%- if emptySlots > 0 -%}
    {%- for i in (1..emptySlots) -%}
    <x-cell hscroll-slide></x-cell>
    {%- endfor -%}
{%- endif -%}
</x-grid>

</hscroll-slider></component-loader>
</section>

{% schema %}
{
  "name": "Social media grid",
  "disabled_on": { "groups": ["header", "footer", "aside"] },
  "presets": [
    {
      "name": "Social media grid",
      "category": "Content",
      "blocks": [
        { "type": "image" },
        { "type": "image" },
        { "type": "image" },
        { "type": "image" },
        { "type": "image" }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Follow us"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "checkbox",
      "id": "global_color_scheme",
      "label": "Use global color scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "coretex-1",
      "visible_if": "{{ section.settings.global_color_scheme == false }}"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1:1 aspect ratio recommended."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
